h1{
    color: white;
    margin-left:35rem;

}
body{
    background: gray;
    background-image: url(/images/3.jpg);
}
#message-el{
    font-style: italic;
}
p{
    color: white;
    margin-left:35rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}
button{
    background: green;
    margin-left:35rem;
   color: white;
   padding:10px;
   border-radius:10px;
}
